html,body{margin:0;padding:0;}
/*全体*/
body{
    background:dimgray;
}
/*header*/
header{
    overflow: hidden;/*floatによる親の収縮の解除*/
    background: gold;
    position: fixed; /* ヘッダーを固定*/
    top: 0; /* 固定する位置 */
    left: 0; /* 固定する位置 */
    right: 0;  /* 固定する位置 */
    z-index:10;/*最前面*/
    border-bottom:1.5px solid black;
}
.header-left-name-logo{
    float: left;
    font-size:3.4vmax;
    padding:1vmax 0 0.8vmax 1.4vmax;
    color: black;
}
.header-menu{
    float:right;
    font-size:3.8vmax;
    padding:0.8vmax 2.2vmax 0 0;
    cursor: pointer;
    display: block;
}
.clear {
    clear:both;　/*floatの解除*/
}
/*メニューモーダル*/
.menu{
    display: none;
    position: fixed;
    width: 28vmax;
    height: auto;
    border: 0.3rem solid aliceblue;
    background-color: #d5c71e;
    z-index: 100;  
    top:5%;/*座標調整*/
    left: 50%;/*座標調整*/
    transform: translate(-50%,0);/*座標調整*/
    padding-top: 2vmax;   
}
.close-menu{
    padding-bottom: 1rem;
    border-top:solid 0.3rem aliceblue;
    font-size:150%;
    padding-top:1rem;
    display:block;
    color:aliceblue;
}
.link{
    display:block;
    font-family: 'Passion One', cursive;
    font-size:150%;
    color:aliceblue
}
.menu-lists{
    text-align: center;
}
.menu-list p{
    border-top:solid 0.3rem aliceblue;
    padding-top:1rem;
}
.menu-list {
    display:block;
}
.menu-list a{
    text-decoration:none;
}
.m-menu-title{
    font-size:180%;
    font-family: 'Passion One', cursive;
    color:aliceblue;
}
/*見出し*/
.m-headline{
    margin-top:-1vmax;
    height:25vmax;
    background-image:url(../img/member/member.jpg);
    background-size:cover;/*比を保つ*/
}
.m-headline p{
    text-align: center;
    color:aliceblue;
    font-size:6.5vmax;
    position: relative;
    top:28%;
}



/*メンバー紹介*/
.member-message {
  padding: 15px 0;
  background-color: yellow;
  cursor: pointer;
  box-shadow: 0px 7px gold;
}
.member-message:active {
  position: relative;
  top: 7px;
  box-shadow: none;
}
.member-btn:hover {
  opacity: 1;
}
/*学年紹介*/
.title-m2{
  text-align: center;
  font-size: 200%;
  
}
/*各紹介*/
/*m1とb4*/
.member-photo{
    padding-top:1rem;
    width:75%;
    height:75%;
    border-radius:100%;
}
.member-photo-m1{
    padding-top:1rem;
    width:59%;
    height:59%;
    border-radius:100%;
}
.member-photo-teacher{
    padding-top:1rem;
    width:75%;
    height:75%;
    border-radius:100%;
}
.member-wrapper {
  border-top:1.5px solid black;
  border-bottom:1.5px solid black;
  height: 100%;
  background-color: gold;
  text-align: center;
  padding-top: 3rem;
  padding-bottom:1.5rem
}
.teacher {
  text-align: center;
  width: 25%;
  margin-left:37.5%;
}
.memberb4 {
  float: left;
  width: 20%;
}
.member-m1 {
  float: left;
  width: 33%;
}
.member-m2 {
  float: left;
  width: 25%;
}
.member-icon {
  position: relative; 
  width: 100%;
  margin: 0 auto;
}
/*------------------------------------------*/
/*名前*/
.member-icon p {
  position: absolute;
  width: 100%;
  margin-top:-40px;
  font-size:1.5rem;
  font-weight:bolder;
  color: black;
}
.member-icon a {
  text-decoration: none;
  cursor: pointer;
}
/*コメント*/
.member-comment {
  margin: 3% auto;
  width: 80%;
  display: none;
  font-size: 1.4rem;
  color: #5f5d60;
}
.member-active {
  display: block;
}
/*floatによる範囲縮小の解除*/
.clearfix:after {
    content: "";
    display: block;
    clear: both;
}
/*リンク--------------------------------------*/
.member-btn {
  padding: 8px 24px;
  color: black;
  display: inline-block;
  border-radius: 4px;
  cursor: pointer;
  color:dimgray;
  font-size:2.2vmax;
}
#link-font{
  color:gold;
  font-size:2.2vmax;
}
/*メッセージ全体*/
.container-message {
  width: 1oo%;
  padding: 0 15px;
  margin: 0 auto;
}

.heading-message h2 {
  font-weight: normal;
}
/*メッセージ区間全体*/
.message-wrapper {
  padding-bottom: 80px;
  text-align: center;
}

/*ボタン*/
.member-message {
  padding: 15px 0;
  background-color: yellow;
  cursor: pointer;
  box-shadow: 0px 7px gold;
}
.member-message:active {
  position: relative;
  top: 7px;
  box-shadow: none;
}





/*footer--------------------------------------------------*/
.footer-name-logo{
    font-size:80%;
} 
.footer-message{
    font-size: 70%;
}
footer{
    background:silver;
    width:100%;
    height: 100%;
}
.footer{
    padding:0.5vmax;
    border-top:1.5px solid black;
}
/*レスポンシブ------------------------------------------------------*/
@media all and (max-width: 1000px) {
/*memberメンバー紹介*/
  .teacher {
    width: 100%;
    margin-bottom: 50px;    
    margin-left: 0;
  }
  .memberb4 {
    width: 100%;
    margin-bottom: 50px;    
  }
  .member-m1 {
    width: 100%;
    margin-bottom: 50px;    
  }
  .member-m2 {
    width: 100%;
    margin-bottom: 50px;    
  }
.member-photo{
    width:50%;
    height:50%;
    border-radius:100%;
}
.member-photo-m1{
    width:50%;
    height:50%;
    border-radius:100%;
}   
.member-photo-teacher{
    width:50%;
    height:50%;
    border-radius:100%;
}   
.member-wrapper {

  padding-bottom:0;
}

/*共通body*/
  body{
    overflow: scroll;
  }
}
@media all and (min-width: 1000px) {
  padding:15px 15px ;
}





